body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  background-color: #f0ecec;
  
  border : 1px solid blue;
  border-radius: 4px;
}

.navlink {
  
  color: rgb(26, 11, 68);
  padding: 4px 12px;
  margin: 10px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100%;
}

.ayaths {
  text-align: justify;
  direction:rtl;  
  line-height: 150%;
  background-color: rgb(68, 67, 67);
  border-radius: 8px;
  color:#ebe9e6;
  font-size: 22px;
  padding: 3px 3px;
  margin: 3px;

}

.titreSourah{
  text-align: center;
  direction:rtl;  
  line-height: 150%;
  background-color: rgb(185, 189, 184);
  border-radius: 8px;
  color:#111110;
  font-size: 22px;
  padding: 4px 4px;
  margin: 4px;
}
.list{
  text-align: right;
  direction:rtl;  
  
}

.img {
  height:250px;

}

.footer {
 background-color: rgb(253, 150, 150);
}

.searchResponse:nth-of-type(even) {
  background-color: rgb(1, 17, 59);
  color:rgba(0, 183, 255, 0.986);
  
}

.searchResponse:nth-of-type(odd) {
  background-color: rgb(135, 207, 230);
  color:rgb(1, 17, 59);
  font-size: 12px;
  font-weight: bolder;
  margin: 2px;
  text-align: center;
  align-self: center;
}

.searchResponse {
  text-align: right;
  line-height: 150%;
  border-radius: 8px;
  font-size: 22px;
  padding: 5px 5px;
  margin: 6px;
  border-block-end-style: groove;
}








