body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  background-color: #f0ecec;
  
  border : 1px solid blue;
  border-radius: 4px;
}

.navlink {
  
  color: rgb(26, 11, 68);
  padding: 4px 12px;
  margin: 10px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100%;
}

.ayaths {
  text-align: justify;
  direction:rtl;  
  line-height: 200%;
  background-color: rgb(245, 212, 212);
  border-radius: 8px;
  color:#756a04;
  font-size: 25px;
  padding: 4px 4px;
  margin: 4px;

}

.titreSourah{
  text-align: center;
  direction:rtl;  
  line-height: 250%;
  background-color: rgb(176, 255, 169);
  border-radius: 8px;
  color:#756a04;
  font-size: 22px;
  padding: 4px 4px;
  margin: 4px;
}

.image {
  text-align: center;
}
